


<!-- <div bsModal #childModal="bs-modal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document"  *ngIf="journeyLoaded">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="journey">
  <h2>{{journey.trip_title}} details!</h2>
  <div><label>id: </label>{{journey.$key}}</div>
  <div>
    <label>Date: </label>
    <input [ngModel]="journey.depart_date" placeholder="Date"/>
    <input [ngModel]="journey.depart_time" placeholder="Time"/>
    <input [ngModel]="journey.company_name" placeholder="Company"/>
    <input type="submit" value="save" (click)="save">
  </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->