
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{profile?.company}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
        	<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
        	<a routerLink="/trips">Trips</a>
        </li>
        <li>
	        <a routerLink="/journeys">Journeys</a>
        </li>
        <li>
        	<a routerLinkActive="menu-active" routerLink="login"
                *ngIf="!user">Login</a>
        </li>
        <li>
      		<a *ngIf="user" (click)="logout()">Logout</a>  	
        </li>
        {{email}}
      </ul>
    </div>
  </div>
</div>
