<p>
  journeys works!
</p>

<!-- <input class="search-bar" placeholder="Search"(keyup)="search(input.value)" #input> -->

<!-- <journeys-list *ngIf="filtered" [journeys]="filtered"></journeys-list> -->
<!-- [routerLink]="['/journey', journey.$key]" -->

<table>
    <tbody>
    <tr *ngFor="let journey of journeys" 
    	
    	[class.selected] = "journey === selectedJourney"
    	(click)="onSelect(journey)">
        <td>{{ journey.$key }}</td>
    	<td>
    		{{ journey.company_name }}</td>
        <td>{{ journey.depart_date }}</td>
        <!-- <td>{{ journey.company_id }}</td>
        <td>{{ journey.trip_title }} </td> -->
        
    </tr>
    </tbody>
</table>
<!-- model -->
<journey-form [journey]="selectedJourney"></journey-form>
