<p>
  journeys works!
</p>

<!-- <input class="search-bar" placeholder="Search"(keyup)="search(input.value)" #input> -->

<!-- <journeys-list *ngIf="filtered" [journeys]="filtered"></journeys-list> -->
<!-- [routerLink]="['/journey', journey.$key]" -->

<table>
    <tbody>
    <tr *ngFor="let journey of journeys" 
    	
    	[class.selected] = "journey === selectedJourney"
    	(click)="viewJourneyDetails(journey.$key)"
    >
        <td>{{ journey.$key }}</td>
    	<td>
    		{{ journey.company_name }}</td>
        <td>{{ journey.depart_date }}</td>
        <!-- <td>{{ journey.company_id }}</td>
        <td>{{ journey.trip_title }} </td> -->
        
    </tr>
    </tbody>
</table>
<!-- model -->
<journey-form [journey]="selectedJourney"></journey-form>

<div bsModal #childModal="bs-modal" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document"  *ngIf="journeyLoaded">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
  <h2>{{selectedJourney.trip_title}} details!</h2>
  <div><label>id: </label>{{selectedJourney.$key}}</div>
  <div>
    <label>Date: </label>
    <input [ngModel]="selectedJourney.depart_date" placeholder="Date"/>
    <input [ngModel]="selectedJourney.depart_time" placeholder="Time"/>
    <input [ngModel]="selectedJourney.company_name" placeholder="Company"/>
    <input type="submit" value="save" (click)="save">
  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
